<p id="notice"><%= notice %></p>

<h1>Lista de pessoas</h1>

<table>
  <thead>
    <tr>
      <th><%= Person.human_attribute_name('name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, person, title: t('view.view_action_hint', model_name: Person.model_name.human) %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_person_path(person), title: t('view.edit_action_hint', model_name: Person.model_name.human) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, person, method: :delete, data: { confirm: t('view.delete_action_confirmation', model_name: Person.model_name.human) }, title: t('view.delete_action_hint', model_name: Person.model_name.human) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.new_action_html', model_name: Person.model_name.human), new_person_path, class: "btn btn-primary" %>
