<p id="notice"><%= notice %></p>

<p>
  <strong><%= Person.human_attribute_name('name') %>:</strong>
  <%= @person.name %>
</p>

<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Voltar', people_path %>
