<p id="notice"><%= notice %></p>

<h1>Lista de usuários</h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name('admin') %></th>
      <th><%= User.human_attribute_name('name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.admin %></td>
        <td><%= user.name %></td>
        <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, user, title: t('view.view_action_hint', model_name: User.model_name.human) %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_user_path(user), title: t('view.edit_action_hint', model_name: User.model_name.human) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, user, method: :delete, data: { confirm: t('view.delete_action_confirmation', model_name: User.model_name.human) }, title: t('view.delete_action_hint', model_name: User.model_name.human) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.new_action_html', model_name: User.model_name.human), new_user_path, class: "btn btn-primary" %>
