<p id="notice"><%= notice %></p>

<p>
  <strong><%= User.human_attribute_name('admin') %>:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong><%= User.human_attribute_name('name') %>:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
